@model MathEvent.Models.Performance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Performance</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content(Model.DataPath + Model.PosterName)" />
        <form asp-controller="Performance" asp-action="ChangePoster" method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                <input asp-route-performanceId="@Model.Id" type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Performance" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyWords" class="control-label"></label>
                <input asp-for="KeyWords" class="form-control" />
                <span asp-validation-for="KeyWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annotation" class="control-label"></label>
                <input asp-for="Annotation" class="form-control" />
                <span asp-validation-for="Annotation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            @if (((SelectList)ViewBag.Sections).Count() > 0)
            {
                <div class="form-group">
                    <label asp-for="SectionId" class="control-label"></label>
                    <select class="custom-select form-control" asp-for="SectionId" asp-items="ViewBag.Sections">
                        <option value=@null>Без секции</option>
                    </select>
                    <span asp-validation-for="SectionId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input asp-for="CreatorId" class="form-control" type="hidden" />
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DataPath" class="form-control" type="hidden" />
                <span asp-validation-for="DataPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PosterName" class="form-control" type="hidden" />
                <span asp-validation-for="PosterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Traffic" class="form-control" type="hidden" />
                <span asp-validation-for="Traffic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Загрузите новую афишу вашего события</h6>
                <input type="file" name="uploadedFile" accept="image/*" /><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <a class="nav-link" onclick="return confirm('Вы точно хотите удалить?')" asp-route-performanceId="@Model.Id" asp-area="" asp-controller="Performance" asp-action="Delete">Удалить</a>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
