@model MathEvent.Models.ViewModels.PerformanceViewModel
@using MathEvent.Components;

<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Редактирование события</h2>
        <hr class="block-1" />
    </div>
</div>
<div class="row container mb-2">
    <a class="main-link h5" asp-controller="Account" asp-action="Index"><< В кабинет</a>
</div>
@(await Html.RenderComponentAsync<PerformanceEditComponent>(RenderMode.ServerPrerendered, new { PerformanceModel = Model }))

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
