@model IEnumerable<MathEvent.Models.ViewModels.PerformanceViewModel>
@using MathEvent.Components
@using MathEvent.Helpers

<header class="head-bg-image rounded shadow text-center py-5 mb-2">
    <div class="container">
        <h1 class="display-4 text-white">События</h1>
    </div>
</header>

@(await Html.RenderComponentAsync<PerformanceList>(RenderMode.ServerPrerendered, new { Performances = Model, IsKeyWordsHidden = false}))
