@model IEnumerable<MathEvent.Models.ViewModels.CardViewModel>
@using MathEvent.Components

<div class="jumbotron jumbotron-image shadow"
     style="background-image: url(@Url.Content("Images")/all_together4.png);
     min-height: 150px;">
</div>

@(await Html.RenderComponentAsync<PerformanceList>(RenderMode.ServerPrerendered, new { Performances = Model}))
