@model MathEvent.Models.ViewModels.ForgotPasswordViewModel

<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Забыли пароль?</h2>
        <hr class="bg-primary block-1" />
    </div>
</div>
<div class="row d-flex py-4 mt-4 justify-content-center">
    <div class="col-8 col-sm-6 col-md-4">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-row">
                <div class="form-group btn-block mx-auto">
                    <input class="form-control" asp-for="Email" placeholder="Введите Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-row">
                <input type="submit" value="Отправить" class="btn btn-block btn-success mb-4" />
            </div>
        </form>
    </div>
</div>


