@model MathEvent.Models.ViewModels.RegisterViewModel

<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Добро пожаловать на сайт MathEvent!</h2>
        <hr class="block-1" />
        <p>
            Зарегистрируйтесь! Вы сможете создавать и записываться на события!
        </p>
    </div>
</div>
<div class="row d-flex py-4 mt-4 justify-content-center">
    <div class="col-8 col-sm-6 col-md-4">
        <form method="post" asp-controller="Account" asp-action="Register">
            <div class="container input-bg-image rounded">
                <div class="form-row mb-2">
                    <hr class="block-1" />
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-row">
                    <div class="form-group btn-block">
                        <input class="form-control mx-auto" asp-for="Email" placeholder="Адрес электронной почты" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group btn-block mx-auto">
                        <input class="form-control" asp-for="Name" placeholder="Имя" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group btn-block mx-auto">
                        <input class="form-control" asp-for="Surname" placeholder="Фамилия" />
                        <span class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group btn-block mx-auto">
                        <input class="form-control" type="password" asp-for="Password" placeholder="Пароль" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group btn-block mx-auto">
                        <input class="form-control" type="password" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" />
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                    </div>
                </div>
                <div class="form-row">
                    <input type="submit" value="Зарегистрироваться" class="btn btn-block btn-success mb-4" />
                </div>
                <div class="form-row">
                    @Html.ActionLink("У меня уже есть аккаунт", "Login", "Account", new { area = "" }, new { @class = "btn btn-block btn-primary mb-4" })
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
