@{
    ViewData["Title"] = "Сброс пароля";
}


<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Ваш пароль сброшен</h2>
        <hr class="block-1" />
        <p>
            Для входа в приложение перейдите по <a class="main-link" asp-controller="Account" asp-action="Login">ссылке</a>.
        </p>
    </div>
</div>