@model MathEvent.Models.ViewModels.ResetPasswordViewModel
<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Сбросьте старый пароль</h2>
        <hr class="block-1" />
    </div>
</div>

<div class="row d-flex py-4 mt-4 justify-content-center">
    <div class="col-8 col-sm-6 col-md-4">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-row">
                <div class="form-group btn-block mx-auto">
                    <input class="form-control" asp-for="Email" placeholder="Введите Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group btn-block mx-auto">
                    <input class="form-control" type="password" asp-for="Password" placeholder="Введите новый пароль" />
                    <span class="text-danger" type="password" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group btn-block mx-auto">
                    <input class="form-control" type="password" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" />
                    <span class="text-danger" type="password" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>
            <div class="form-row">
                <input type="submit" value="Сбросить" class="btn btn-block btn-success mb-4" />
            </div>
        </form>
    </div>
</div>
