<base href="/" />
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MathEvent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MathEvent</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Performance" asp-action="Index">События</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Conference" asp-action="Index">Конференции</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Кабинет</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-very-light-blue pt-0">
        <div class="bg-light-blue">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0 text-white">Свяжитесь с нами!</h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <a class="stretched-link text-white" href="">Вконтакте</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6 class="text-uppercase font-weight-bold"><strong>О нас</strong></h6>
                    <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                    @*Асалам Алейкум, братики... Как сами?*@
                    <p>Очень интересная ссылка...</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold"><strong>Событие</strong></h6>
                    <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                    <p>Очень интересная ссылка...</p>
                    <p>Очень интересная ссылка...</p>
                    <p>Очень интересная ссылка...</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold"><strong>Матфак</strong></h6>
                    <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                    <p>Очень интересная ссылка...</p>
                    <p>Очень интересная ссылка...</p>
                    <p>Очень интересная ссылка...</p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="text-uppercase font-weight-bold"><strong>Контакты</strong></h6>
                    <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                    <p>Очень интересная ссылка...</p>
                    <p>Очень интересная ссылка...</p>
                    <p>Очень интересная ссылка...</p>
                </div>
            </div>

        </div>
        <div class="footer-copyright text-center">
            <p>&copy; @DateTime.Now.Year – Math Event</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/_framework/blazor.server.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
