@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using MathEvent.Models.ViewModels
@using MathEvent.Helpers
@using System.Net.Http
@using System.ComponentModel
@using Newtonsoft.Json
@using System.Text
@using Microsoft.AspNetCore.Identity
@using MathEvent.Models
@using MathEvent.Helpers.StatusCode
@using System.Net

@inject NavigationManager NavigationManager
@inject ClientService ClientService
@inject IStatusCodeResolver StatusCodeResolver

<h6>Участников: @Count()</h6>
<input type="button" class="btn btn-block btn-success" @onclick="SignUp" value="@CurrentButtonValue()" />

@code {
    [Parameter] public PerformanceViewModel Card { get; set; }
    [Parameter] public bool IsSignIn { get; set; }
    private HttpClient _client;

    protected override void OnInitialized()
    {
        _client = ClientService.Client;
    }

    protected async Task SignUp()
    {
        if (!IsSignIn)
        {
            NavigationManager.NavigateTo($"{_client.BaseAddress}Account/Login", true);
        }

        var model = JsonConvert.SerializeObject(Card);
        var content = new StringContent(model, Encoding.UTF8, "application/json");
        var response = await _client.PostAsync("api/Subscribe/signup", content);
        var responseResult = await response.Content.ReadAsStringAsync();
        var statusCode = (JsonConvert.DeserializeObject<HttpStatusCode>(responseResult));
        StatusCodeResolver.ResolveStatusCode(statusCode, null);

        if (!Card.IsSubscribed)
        {
            Card.Traffic++;
            Card.IsSubscribed = !Card.IsSubscribed;
        }
        else
        {
            Card.Traffic--;
            Card.IsSubscribed = !Card.IsSubscribed;
        }

        Count();
    }

    protected int Count()
    {
        return Card.Traffic;
    }

    protected string CurrentButtonValue()
    {
        if (Card.IsSubscribed)
        {
            return "Отписаться";
        }
        else
        {
            return "Записаться";
        }
    }
}