@model MathEvent.Models.ViewModels.AdminEmailViewModel

@{
    ViewData["Title"] = "Сообщение пользователю";
}

<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Сообщение пользователю MathEvent</h2>
        <hr class="block-1" />
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-8 col-sm-6 col-md-4">
        <form asp-controller="Email" asp-action="AdminSend" method="post">
            <div class="container input-bg-image rounded">
                <div class="form-row mb-2">
                    <hr class="block-1" />
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-row">
                    <div class="form-group btn-block mx-auto">
                        <input class="form-control" asp-for="Content" placeholder="Тема" />
                        <span class="text-danger" asp-validation-for="Content"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group btn-block mx-auto">
                        <textarea asp-for="Message" class="form-control" rows="3" placeholder="Сообщение"></textarea>
                        <span class="text-danger" asp-validation-for="Message"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="EmailTo" class="form-control" type="hidden" />
                </div>
                <div class="form-row">
                    <input type="submit" value="отправить" class="btn btn-block btn-success mb-4" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}