@model MathEvent.Models.ViewModels.SectionViewModel
@using MathEvent.Helpers
@using MathEvent.Components

@{
    ViewData["Title"] = "Редактирование секции";
}

<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Редактирование секции</h2>
        <hr class="block-1" />
    </div>
</div>
<div class="row container mb-2">
    <a class="main-link h5" asp-controller="Account" asp-action="Index"><< В кабинет</a>
</div>
@(await Html.RenderComponentAsync<SectionEditComponent>(RenderMode.ServerPrerendered, new { SectionModel = Model }))

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
