@model MathEvent.Models.Section

<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Измените вашу секцию!</h2>
        <hr class="bg-primary block-1" />
    </div>
</div>
<div class="row">
    <a class="nav-link h5" asp-controller="Account" asp-action="Index"><< В кабинет</a>
</div>
<form asp-controller="Section" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row d-flex align-items-top">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&#127991</span>
                    </div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>@*<form-group*@
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&#127970</span>
                    </div>
                    <input asp-for="Location" class="form-control" />
                </div>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>@*<form-group*@
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&#128198</span>
                    </div>
                    <input asp-for="Start" class="form-control" />
                </div>
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>@*<form-group*@
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&#128198</span>
                    </div>
                    <input asp-for="End" class="form-control" />
                </div>
                <span asp-validation-for="End" class="text-danger"></span>
            </div>@*<form-group*@
            <div class="form-group">
                <label asp-for="ConferenceId" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&#128047</span>
                    </div>
                    <select class="custom-select form-control" asp-for="ConferenceId" asp-items="ViewBag.Conferences"></select>
                </div>
                <span asp-validation-for="ConferenceId" class="text-danger"></span>
            </div>@*<form-group*@
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ManagerId" class="form-control" type="hidden" />
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DataPath" class="form-control" type="hidden" />
                <span asp-validation-for="DataPath" class="text-danger"></span>
            </div>
            <div class="form-row form-group d-flex align-items-end mt-4">
                <a class="btn btn-danger ml-1 mr-4" onclick="return confirm('Вы точно хотите удалить?')" asp-route-sectionId="@Model.Id" asp-area="" asp-controller="Section" asp-action="Delete">Удалить</a>
                <input type="submit" class="btn btn-success" value="Сохранить изменения" />
            </div>
        </div>
        <div class="col-md-5">
            <img class="w-100 need-hide" src="@Url.Content("Images")/equals_left.png">
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
