/*для того чтобы футер прилип к низу>*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.content {
    flex: 1 0 auto;
}
/*<для того чтобы футер прилип к низу*/

textarea {
    min-width: 100%;
    resize: none;
}

.background-dark {
    background: rgba(0, 0, 0, 0.28);
}

.dark-light {
    text-shadow: #000000 10px 10px 20px;
    color: #ffffff;
}

.bg-light-blue {
    background: rgba(26, 138, 203, 0.50);
    /*rgba(26, 138, 203, 0.70)*/
}

.bg-very-light-blue {
    background: rgba(26, 60, 150, 0.10);
    /*rgba(26, 138, 203, 0.70)*/
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.block-1 {
    background: #120c5e;
    width: 100%;
    height: 1px;
}

.login-textbox {
    /*не используется*/
    width: 250px;
}

@media only screen and (max-width: 959px) {
    .carousel-item {
        height: 200px
    }
}

@media only screen and (min-width: 960px) {
    .carousel-item {
        height: 400px
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
    .login-textbox {
        width: 210px;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
    .login-textbox {
        width: 180px;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
    .login-textbox {
        width: 260px;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
    .login-textbox {
        width: 280px;
    }
}

@media (max-width: 768px) {
    .need-hide {
        display: none;
    }
}